@import "ui-variables";
@import "syntax-variables";

.styleguide {
  position: relative;
  display: flex;
  flex-direction: column;

  &-Header {
    padding: var(--spacer);
    border-bottom: 1px solid var(--border);
  }

  &-Title {
    font-size: 1.5em;
    margin: .5em 0;
    color: var(--fg-strong);
  }

  &-Description {
    margin-bottom: 0;
  }

  &-Controls {
    position: absolute;
    right: var(--spacer);
    top: var(--spacer);
    z-index: 100;
  }

  &-Sections {
    flex: 1;
    overflow: auto;
  }

  &-Section {
    padding: 0;
    border-bottom: 1px solid var(--border);
    border-top: none;

    & > h2 {
      font-size: 1.1em;
      line-height: 1.2;
      color: var(--fg-strong);
      margin: 1em var(--spacer) 0 var(--spacer);
    }
  
    & > p {
      margin: .5em var(--spacer) 1em var(--spacer);
    }

    &-title {
      padding: var(--spacer) var(--spacer) 0 var(--spacer);
      margin: 0;
      cursor: pointer;
      font-weight: 400;
      font-size: 1.5em;
      color: var(--fg-strong);
    }

    &.is-collapsed {
      background-color: var(--bg-input);

      & > * {
        display: none
      }
      
      & > .styleguide-Section-title {
        display: block;
        margin: 0;
        padding-bottom: var(--spacer);
        background-color: var(--bg-highlight);
        &:hover {
          background-color: var(--bg-selected);
        }
        &:active {
          background-color: var(--bg-input);
        }
      }

    }
  }

  // Example -------------------------------

  &-Example {
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
    padding: var(--spacer-1);

    &-rendered,
    &-code {
      position: relative;
      flex: 1 1 300px;
      min-width: 0;
      margin: var(--spacer-1);
      border-radius: var(--border-radius);
      border: 1px solid var(--border);
    }

    &-rendered {
      padding: var(--spacer);
      overflow: hidden;
    }

    &-code {
      font-size: .9em;
      overflow: auto;
      padding: var(--spacer);
      background-color: var(--bg-input);;
    }
    &-html {
      border: none;
      border-radius: 0;
      background-color: transparent;
    }

  }
}
